<!DOCTYPE html>
<html lang="en">

<head>
    <title>vallesmd</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
  <div class="container">
    <div class="row">
      <div id="columna-izquierda" class="col"></div>
    <div id="columna-centro" class="col-11">
    <div class="main-content">
      {{>header}}
      <div id="formulas">
          <div class="container">
            <h4>Escoge la formular que necesitas:</h4><br>
            <div class="row">
              <div class="col"><a href="https://vallesmd.com/personal/med/osmo/index.html" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Osmolaridad</a></div>
              <div class="col"><a href="https://vallesmd.com/personal/med/cad/index.html" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Cetoacidosis</a></div>
              <div class="w-100"><br></div>
              <div class="col"><a href="https://vallesmd.com/personal/med/hco/index.html" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Bicarbonato</a></div>
              <div class="col"><a href="https://vallesmd.com/personal/med/hiperton/index.html" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Hiperton</a></div>
              <div class="w-100"><br></div>
              <div class="col"><a href="https://vallesmd.com/personal/med/acls/index.html" class="btn btn-secondary btn-lg active" tabindex="-1" role="button" aria-disabled="true">ACLS</a></div>
              <div class="col"><a href="https://vallesmd.com/personal/med/glasgow/index.html" class="btn btn-secondary btn-lg active" tabindex="-1" role="button" aria-disabled="true">Glasgow</a></div>
            </div>
          </div>
      </div>

      <div id="clima">
        <br><br><br>
        <h4>Ofrecemos nuestro servicio de Clima</h4>
        <br>
        <form>
        <input placeholder="Location">
        <button class="btn btn-secondary btn-lg active">Seach</button>
        </form>
      </div>
      <br>
        <p style="color: darkslategray" id="message-1"></p>
        <P id="message-2"></P>
    </div>
    <div id="columna-derecha" class="col"></div>
    </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-7">
     {{>footer}}
        </div>
        <div class="col"></div>
      </div>
    </div>
     <script src="/js/app.js" ></script>
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
   
</html>